<?xml version="1.0" encoding="UTF-8"?>

<!-- http://Phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit>
    <listeners>
        <listener class="ScrutinizerCloverListener" file="ci-configs/Phpunit/ScrutinizerCloverListener.php"/>
    </listeners>

    <logging>
        <log type="coverage-clover" target="../docs/phpunit/clover.xml"/>
    </logging>
</phpunit>
